<!-- Create / Edit Modal -->
@if (showModal()) {
  <smt-dialog
    [open]="showModal()"
    [smtTitle]="(editingField() ? 'iam.edit_field' : 'iam.new_custom_field') | t"
    [dismissible]="!saving()"
    (closed)="closeModal.emit()"
  >
    <ng-template smtDialogContent>
      <form
        id="customFieldForm"
        body
        class="modal-form"
        uiFocusFirstInvalid
        novalidate
        (submit)="$event.preventDefault(); saveField.emit()"
      >
        <ui-form-error-summary [errors]="summary()" />

        <div class="form-grid">
          <!-- Entity Target (only in creation) -->
          @if (!editingField()) {
            <smt-control
              [smtLabel]="'iam.custom_fields.editor.target_entity' | t"
              [smtError]="serverError('entityType')"
            >
              <smt-select
                smtTriggerId="custom-field-entity"
                [formField]="fieldForm().entityType"
                [options]="entityOptions()"
                [allowClear]="false"
              />
            </smt-control>
          }

          <!-- The native input event bubbles from the inner field; the page cleans the code from it. -->
          <smt-control
            [smtLabel]="'iam.custom_fields.editor.field_code_slug' | t"
            [smtHint]="
              (editingField() ? 'iam.custom_fields.editor.code_readonly' : 'iam.custom_fields.editor.code_hint') | t
            "
            [smtError]="serverError('code')"
          >
            <smt-input
              #codeField
              class="font-mono"
              smtFieldId="custom-field-code"
              [smtFocusInitial]="!editingField()"
              [formField]="fieldForm().code"
              (input)="onCodeInput($event, codeField)"
              [placeholder]="'iam.custom_fields.editor.code_placeholder' | t"
              autocomplete="off"
            />
          </smt-control>

          <smt-control [smtLabel]="'iam.custom_fields.editor.field_name' | t" [smtError]="serverError('name')">
            <smt-input
              smtFieldId="custom-field-name"
              [smtFocusInitial]="!!editingField()"
              [formField]="fieldForm().name"
              [placeholder]="'iam.custom_fields.editor.name_placeholder' | t"
            />
          </smt-control>

          @if (!editingField()) {
            <smt-control [smtLabel]="'iam.custom_fields.data_type' | t" [smtError]="serverError('fieldType')">
              <smt-select
                smtTriggerId="custom-field-type"
                [formField]="fieldForm().fieldType"
                [options]="fieldTypeOptions()"
                [allowClear]="false"
              />
            </smt-control>
          }

          <smt-control [smtLabel]="'iam.custom_fields.default_value' | t" [smtError]="serverError('defaultValue')">
            <smt-input smtFieldId="custom-field-default" [formField]="fieldForm().defaultValue" />
          </smt-control>

          <smt-control [smtLabel]="'iam.custom_fields.editor.sort_order' | t" [smtError]="serverError('orderNo')">
            <smt-input
              class="font-mono"
              smtFieldId="custom-field-order"
              type="number"
              [formField]="fieldForm().orderNo"
              [smtMin]="0"
              [smtMax]="99999"
              [smtStep]="1"
              placeholder="10"
            />
          </smt-control>

          <!-- Options for select type -->
          @if (fieldForm().fieldType().value() === 'select') {
            <smt-control
              class="form-wide"
              [smtLabel]="'iam.custom_fields.editor.list_options' | t"
              [smtHint]="'iam.custom_fields.editor.options_hint' | t"
              [smtError]="serverError('optionsText')"
            >
              <smt-textarea smtFieldId="custom-field-options" [formField]="fieldForm().optionsText" [rows]="4" />
            </smt-control>
          }

          <!-- Required flag, saved with the form -->
          <div class="form-wide checkbox-group">
            <div smt-checkbox [formField]="fieldForm().isRequired">
              {{ 'iam.custom_fields.editor.required' | t }}
            </div>
          </div>
        </div>
      </form>

      <ui-form-actions
        footer
        form="customFieldForm"
        [submitLabel]="(editingField() ? 'common.save' : 'common.create') | t"
        [submitting]="saving()"
        (cancelled)="closeModal.emit()"
      />
    </ng-template>
  </smt-dialog>
}
