<div class="upl-page">
  <div class="toolbar upl-toolbar">
    <h1 class="upl-title">
      {{ 'upl.list.title' | t }}
      @if (meta() && !isLoading() && !loadError()) {
        <span class="upl-count" data-testid="upl-count">{{ pager.total() }}</span>
      }
    </h1>
    @if (canCreate()) {
      <button
        smt-button
        type="button"
        smtVariant="primary"
        smtIcon="add"
        data-testid="upl-new-source"
        (click)="openCreate()"
      >
        {{ 'upl.list.new' | t }}
      </button>
    }
  </div>

  @if (metaError()) {
    <smt-alert smtTone="danger" class="upl-alert" data-testid="upl-load-error">
      <span>{{ 'upl.list.load_error' | t }}</span>
      <button smt-button type="button" smtVariant="secondary" data-testid="upl-retry" (click)="load()">
        {{ 'upl.common.retry' | t }}
      </button>
    </smt-alert>
  } @else if (tableConfig(); as config) {
    <ui-server-table
      [pager]="pager"
      [config]="config"
      [views]="views"
      [filterMeta]="meta()"
      [exportable]="true"
      [lockedColumns]="['name']"
      [loadingLabel]="'upl.common.loading' | t"
      [errorLabel]="'upl.list.load_error' | t"
      [emptyTemplate]="emptyState"
      (sortChange)="onSort($event)"
    />
  } @else {
    <p class="upl-muted" role="status" data-testid="upl-meta-loading">{{ 'upl.common.loading' | t }}</p>
  }
</div>

<ng-template #emptyState>
  <div class="upl-empty" data-testid="upl-empty">
    <span class="material-symbols-outlined upl-empty-icon" aria-hidden="true">table_view</span>
    <p class="upl-empty-text">{{ 'upl.list.empty' | t }}</p>
    @if (canCreate()) {
      <button smt-button type="button" smtVariant="primary" data-testid="upl-empty-new" (click)="openCreate()">
        {{ 'upl.list.new' | t }}
      </button>
    }
  </div>
</ng-template>
<ng-template #codeCell let-item
  ><code class="upl-code" data-testid="upl-source-row">{{ item.code }}</code></ng-template
>
<ng-template #nameCell let-item
  ><a class="upl-link" [routerLink]="['/upl/sources', item.id]">{{ item.name }}</a></ng-template
>
<ng-template #draftCell let-item>
  @if (item.hasDraft) {
    <ui-badge variant="info">{{ 'upl.list.has_draft' | t }}</ui-badge>
  }
</ng-template>

<smt-dialog [open]="isCreateOpen()" [smtTitle]="'upl.source.new_title' | t" smtSize="md" (closed)="closeCreate()">
  <ng-template smtDialogContent>
    <form body id="upl-source-create" class="upl-form" (ngSubmit)="submitCreate()" novalidate>
      @if (createError()) {
        <smt-alert smtTone="danger" class="upl-alert" data-testid="upl-create-error">
          {{ createError()! | t }}
        </smt-alert>
      }

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.code' | t"
        [smtHint]="'upl.source.hint.code' | t"
        [smtError]="fieldErrorText('code')"
      >
        <smt-input smtFieldId="upl-source-code" name="code" [maxLength]="63" [(ngModel)]="form.code" />
      </smt-control>

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.name' | t"
        [smtHint]="'upl.source.hint.name' | t"
        [smtError]="fieldErrorText('name')"
      >
        <smt-input smtFieldId="upl-source-name" name="name" [maxLength]="200" [(ngModel)]="form.name" />
      </smt-control>

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.owner_org' | t"
        [smtHint]="'upl.source.hint.owner_org' | t"
        [smtError]="fieldErrorText('ownerOrg')"
      >
        <smt-input smtFieldId="upl-source-owner-org" name="ownerOrg" [maxLength]="200" [(ngModel)]="form.ownerOrg" />
      </smt-control>

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.owner_contact' | t"
        [smtHint]="'upl.source.hint.owner_contact' | t"
        [smtError]="fieldErrorText('ownerContact')"
      >
        <smt-input
          smtFieldId="upl-source-owner-contact"
          name="ownerContact"
          [maxLength]="200"
          [(ngModel)]="form.ownerContact"
        />
      </smt-control>

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.periodicity' | t"
        [smtHint]="'upl.source.hint.periodicity' | t"
      >
        <smt-select
          smtTriggerId="upl-source-periodicity"
          name="periodicity"
          [options]="periodicityOptions()"
          [allowClear]="false"
          [(ngModel)]="form.periodicity"
        ></smt-select>
      </smt-control>

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.sla_days' | t"
        [smtHint]="'upl.source.hint.sla_days' | t"
        [smtError]="fieldErrorText('slaDays')"
      >
        <smt-input
          smtFieldId="upl-source-sla-days"
          name="slaDays"
          type="number"
          [smtMin]="0"
          [smtMax]="366"
          [smtStep]="1"
          [(ngModel)]="form.slaDays"
        />
      </smt-control>

      <smt-control
        class="form-group"
        [smtLabel]="'upl.source.field.strictness' | t"
        [smtHint]="'upl.source.hint.strictness' | t"
      >
        <smt-select
          smtTriggerId="upl-source-strictness"
          name="reconciliationStrictness"
          [options]="strictnessOptions()"
          [allowClear]="false"
          [(ngModel)]="form.reconciliationStrictness"
        ></smt-select>
      </smt-control>
    </form>

    <div footer class="upl-modal-footer">
      <button smt-button type="button" smtVariant="secondary" data-testid="upl-create-cancel" (click)="closeCreate()">
        {{ 'upl.common.cancel' | t }}
      </button>
      <button
        smt-button
        smtVariant="primary"
        type="submit"
        form="upl-source-create"
        [smtLoading]="isSaving()"
        data-testid="upl-create-submit"
      >
        {{ 'upl.source.create' | t }}
      </button>
    </div>
  </ng-template>
</smt-dialog>
