<form [id]="formId" uiFocusFirstInvalid novalidate (submit)="$event.preventDefault(); submit()">
  @if (formError()) {
    <smt-alert smtTone="danger">{{ formError() }}</smt-alert>
  }
  <fieldset>
    <legend class="sr-only">{{ 'iam.org_units.details' | t }}</legend>
    <smt-control
      [smtLabel]="'iam.org_units.code' | t"
      [smtHint]="editing ? ('iam.org_units.code_readonly' | t) : ''"
      [smtError]="serverError('code')"
    >
      <smt-input [smtFieldId]="formId + '-code'" [smtFocusInitial]="!editing" [formField]="unitForm.code" />
    </smt-control>
    <smt-control [smtLabel]="'iam.org_units.name' | t" [smtError]="serverError('name')">
      <smt-input [smtFieldId]="formId + '-name'" [smtFocusInitial]="editing" [formField]="unitForm.name" />
    </smt-control>
    <smt-control [smtLabel]="'iam.org_units.kind' | t" [smtError]="serverError('kind')">
      <smt-select
        [smtTriggerId]="formId + '-kind'"
        [formField]="unitForm.kind"
        [allowClear]="false"
        [options]="kindOptions()"
      />
    </smt-control>
    @if (editing && original.parentId !== null) {
      <smt-control [smtLabel]="'iam.org_units.parent' | t" [smtError]="serverError('parentId')">
        <smt-tree-select [smtTriggerId]="formId + '-parent'" [formField]="unitForm.parentId" [nodes]="parentTree" />
      </smt-control>
    } @else {
      <p>
        {{ (original.parentId === null ? 'iam.org_units.root' : 'iam.org_units.parent') | t
        }}{{ original.parentId === null ? '' : ': ' + original.parentId }}
      </p>
    }
    @if (editing) {
      <smt-control [smtLabel]="'iam.org_units.state' | t" [smtError]="serverError('state')">
        <smt-select
          [smtTriggerId]="formId + '-state'"
          [formField]="unitForm.state"
          [allowClear]="false"
          [options]="stateOptions()"
        />
      </smt-control>
    }
    <smt-control [smtLabel]="'iam.org_units.order' | t" [smtError]="serverError('orderNo')">
      <smt-input
        [smtFieldId]="formId + '-order'"
        type="number"
        [smtStep]="1"
        [smtMin]="-2147483648"
        [smtMax]="2147483647"
        [formField]="unitForm.orderNo"
      />
    </smt-control>
  </fieldset>
  <ui-form-actions
    class="actions"
    [form]="formId"
    [submitting]="pending()"
    [submitDisabled]="impactOpen() || (editing && !dirty)"
    (cancelled)="cancelEdit.emit()"
  />
</form>
<smt-dialog [open]="impactOpen()" [smtTitle]="'iam.org_units.impact_title' | t" (closed)="impactOpen.set(false)">
  <ng-template smtDialogContent>
    <p body>{{ 'iam.org_units.impact_warning' | t }}</p>
    <ui-form-actions
      footer
      [submitLabel]="'iam.org_units.confirm_save' | t"
      [submitting]="pending()"
      (submitted)="confirmImpact()"
      (cancelled)="impactOpen.set(false)"
    />
  </ng-template>
</smt-dialog>
