<smt-dialog
  open
  [smtTitle]="note() ? ('notes.edit_title' | t) : ('notes.create_title' | t)"
  smtSize="md"
  [dismissible]="!saving()"
  (closed)="close()"
>
  <ng-template smtDialogContent>
    <form
      #noteForm
      ngNoForm
      class="modal-form"
      novalidate
      id="noteForm"
      uiFocusFirstInvalid
      (submit)="$event.preventDefault(); save()"
    >
      <smt-entity-form [meta]="meta()" [(value)]="values" [problems]="problems()" [disabled]="saving()" />
      @if (showHistory() && note(); as current) {
        <ui-record-history [kind]="meta().code" [recordId]="current.id" [meta]="meta()" />
      }
    </form>

    <ui-form-actions
      footer
      form="noteForm"
      data-testid="note-form-actions"
      [submitLabel]="(note() ? 'common.save' : 'common.create') | t"
      [submitting]="saving()"
      (cancelled)="close()"
    />
  </ng-template>
</smt-dialog>
